<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FinalWork</display-name>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginEmpServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.LoginEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WaitProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.WaitProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.SaveProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.FindProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.ShowProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMyProfeedbackServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.ShowMyProfeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveRegisterServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.SaveRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginPrivilegeServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.LoginPrivilegeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrivilegeServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.PrivilegeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrivilegeSelectionServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.PrivilegeSelectionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProDetailServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.ProDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.SubmitProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WaitAuditProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.WaitAuditProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProAuditDetailServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.ProAuditDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuditProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.AuditProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FailProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.FailProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PassProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.PassProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FinishProServlet</servlet-name>
    <servlet-class>ouc.sms.web.servlet.FinishProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MngNoticeNum</servlet-name>
    <servlet-class>ouc.sms.web.servlet.MngNoticeNum</servlet-class>
  </servlet>






















  <servlet-mapping>
    <servlet-name>LoginEmpServlet</servlet-name>
    <url-pattern>/loginEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WaitProServlet</servlet-name>
    <url-pattern>/waitProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveProServlet</servlet-name>
    <url-pattern>/saveProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProServlet</servlet-name>
    <url-pattern>/findProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowProServlet</servlet-name>
    <url-pattern>/showProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMyProfeedbackServlet</servlet-name>
    <url-pattern>/showMyProfeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveRegisterServlet</servlet-name>
    <url-pattern>/saveRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginPrivilegeServlet</servlet-name>
    <url-pattern>/loginPrivilegeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivilegeServlet</servlet-name>
    <url-pattern>/privilegeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivilegeSelectionServlet</servlet-name>
    <url-pattern>/privilegeSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProDetailServlet</servlet-name>
    <url-pattern>/proDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitProServlet</servlet-name>
    <url-pattern>/submitProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WaitAuditProServlet</servlet-name>
    <url-pattern>/waitAuditProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProAuditDetailServlet</servlet-name>
    <url-pattern>/proAuditDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditProServlet</servlet-name>
    <url-pattern>/auditProServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FailProServlet</servlet-name>
    <url-pattern>/failProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PassProServlet</servlet-name>
    <url-pattern>/passProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinishProServlet</servlet-name>
    <url-pattern>/fnishProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MngNoticeNum</servlet-name>
    <url-pattern>/mngNoticeNum</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>